* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: antiquewhite;
    height: 45px;
}

.inputs {
    padding: 13px 52px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#title {
    font-size: 64px;
    font-weight: bold;
    width: 40%;
    text-align: center;
}

#plot {
    width: 40%;
}

#poster {
    width: 40%;
    text-align: center;
}